body {
    margin-left: 1%;
    margin-right: 1%;
}

.column {
    width: 32%;
    float: left;
    margin-right: 1%;
}

.button-column {
    width: 49%;
    float: left;
    margin-right: 1%;
}

.button-sell-column {
    width: 20%;
    float: right;
    margin-right: 1%;
}
