<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../node_modules/chart.js/dist/Chart.min.js"></script>
</head>
<body>
       <script>
           const ipcRenderer = require("electron").ipcRenderer;

           ipcRenderer.on("printPDF", (event, content) => {
               document.body.innerHTML = content;

               ipcRenderer.send("readyToPrintPDF");
           });
       </script>
</body>